<div class="card">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup">
    <form id="signup-form" class="card-body">
      <div>
        <label for="un-signup">UserName</label>
        <input type="text" id="un-signup" />
      </div>
      <div>
        <label for="pw-signup">PassWord</label>
        <input type="password" id="pw-signup" />
      </div>
      <button type="submit" id="signup-btn" class="btn" >SignUp</button>
      <a href="/login">Login Instead</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>